@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: auto;
}

small {
  font-size: 0.5em;
}

.container {
  margin: 3em;
}

.form {
  padding: 2em;
}

input {
  font-size: 1em;
  max-width: 50%;
}

button {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  border: solid 1px #999;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 0.4em;
  margin-left: 1em;
  font-weight: bold;
  font-size: 1em;
}

table {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}

tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  max-width: 100%;
}

th {
  flex: 1;
  border-bottom: 1px solid #111;
  margin-bottom: 5px;
}

td {
  flex: 1;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  tr {
    width: 100vw;
  }
}
